@import "./_variables.scss";

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative-center {
    position: relative;
    display: block;
    margin: 0 auto;
}

.border-l300 {
    box-sizing: border-box;
    border: 1px solid $light-300;
}

.pointer {
    cursor: pointer;
}

$margin-sizes: 3, 5, 10, 20, 30, 40, 50, 100;
$directions: top, left, bottom, right;
$box-model: margin, padding;

@each $size in $margin-sizes {
    @each $direction in $directions {
        @each $type in $box-model {
            .#{str-slice($type, 1, 1)}#{str-slice($direction, 1, 1)}-#{$size} {
                #{$type}-#{$direction}: #{$size}px !important;
            }
        }
    }
}

.opacityhalf {
    opacity: 0.5;
}

.btn {
    width: fit-content;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border: 1px solid $light-200;
    box-sizing: border-box;
    color: $gray-100;
    background-color: $light-100;

    &.blue {
        background-color: $primary !important;
        color: $light-100 !important;
        border: none !important;

        &:hover {
            background-color: darken($primary, 5%) !important;
        }

        &:active {
            background-color: darken($primary, 10%) !important;
        }

        cursor: pointer;
    }

    &.red {
        background-color: $red !important;
        color: $light-100 !important;
        border: none !important;

        &:hover {
            background-color: darken($red, 5%) !important;
        }

        &:active {
            background-color: darken($red, 10%) !important;
        }

        cursor: pointer;
    }

    &.darkmode {
        color: $dark-200;
        background-color: lighten($dark-100, 10%);
        border: none;
    }

    cursor: default;
}

.inlineblock {
    display: inline-block;
}

.right {
    float: right;
}

.invert {
    filter: invert(1);
}

.btn-icon {
    height: 24px;
    width: 24px;
    margin-top: 8px;
    vertical-align: top;
    background-size: cover;
    display: inline-block;
}

@each $icon-name in delete, showmore, close, copy, shuffle {
    .#{$icon-name} {
        background-image: url('../public/assets/icons/#{$icon-name}.png')
    }
}