$light-100: #ffffff;
$light-200: darken($light-100, 10%);
$light-300: darken($light-100, 15%);

$dark-100: #46424d;
$dark-200: darken($dark-100, 10%);
$dark-300: darken($dark-100, 15%);
$dark-400: darken($dark-100, 20%);

$gray: #b8b6bb;
$primary: #1e5aff;
$red: #d13430;